body {
  padding: 20px;
  background: black;
  margin: 0 auto;
}

.container {
  background: black;
  border: 3px solid gold;
  /*   width: 80%; */
  padding: 5px;
  border-radius: 7px;
}

.input-group {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn {
  width: 15%;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  text-align: center;
}

h1,
h2,
h3 {
  color: whitesmoke;
}

.card {
  /*   width: 90%; */
}
